{% extends 'base.html' %}

{% block title %}Contact Page{% endblock title %}

{% block contact-active %}active{% endblock contact-active %}

{% block body %}



{% if success %}

<div class="alert alert-dismissible fade show bg-success text-white" role="alert">
    <strong>Success:</strong> Your Response has been Submitted.!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}

<h1 style="text-align: center;">Contact Us.!!</h1>

<div class="container my-3">
    <form method="post" action="/contact">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Enter Your Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Your name" name="name" required>
            <br>
            <label for="title" class="form-label">Issue Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
        
            <label for="exampleFormControlTextarea1" class="form-label">Describe Your Issue</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="desc" required></textarea>

            <input class="btn btn-primary my-2" type="submit" value="Submit">

        </div> 
    </form>
</div>

{% endblock body %}